@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



/*
    Colors for the project
    Orange: #F8931F
    Blue:   #0071BD
*/


* {
    box-sizing: border-box;
    font-family: 'Poppins', "sans-serif";
    margin: 0;
}

body{
    background-color: #0071BD;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 3rem;
    color: white;
}

.court{
    margin-top: 3rem;
    width: 60rem;
    max-width: 100%;
    height: 30rem;
    border: 0.5vmin solid white;
    background-color: #F8931F;
    background-image:
    linear-gradient(to right, transparent 49.75%, white 0 50.25%, transparent 0),
    linear-gradient(to right, transparent 32.65%, white 0 33%, transparent 0),
    linear-gradient(to right, transparent 66.65%, white 0 67%, transparent 0);
    display: flex;
    justify-content: center;
    
}

.team{
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    text-align: center;
}

.first, .second{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}


.first{
    left: 0%;
}

.second{
    right: 0%;
}

.front, .back{
    width: 35%;
}


.line{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first > .back{
    position: relative;
    left: 15%;
}

.second > .back{
    position: relative;
    right: 15%;
}



.up{
    animation-name: up;
    animation-duration: 2s;
    position: relative;
}


@keyframes up {
    0%{top: 0%;}
    100% {top: -33.3%}
}

.down{
    animation-name: down;
    animation-duration: 2s;
    position: relative;
}


@keyframes down {
    0%{bottom: 0%;}
    100% {bottom: -33.3%}
}


.right{
    animation-name: right;
    animation-duration: 2s;
    position: relative;

}

@keyframes right {
    0%{right: 0%;}
    100% {right: -143.3%}
}

.left{
    animation-name: left;
    animation-duration: 2s;
    position: relative;

}

@keyframes left {
    0%{left: 0%;}
    100% {left: -143.3%}
}
